* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

main {
  width: 40%;
  margin: 8rem auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgb(158, 158, 158);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 1rem;
}

header h1 {
  font-size: 1.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

header #recycle {
  color: rgb(158, 158, 158);
  font-size: 1.2rem;
}

/* Form Section [Input= text] */
.underline {
  border-bottom: 1px solid rgb(223, 223, 223);
}

form input[type='text'],
#text-input-style {
  /* margin: 0.8rem; */
  width: 93%;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  border: 0;
  font-style: italic;
  cursor: pointer;
  outline: none;
}

#text-input-style:focus {
  background-color: rgb(255, 248, 200);
}

#enter-btn {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
}

#enter-btn .change-color {
  color: rgb(158, 158, 158);
}

ul.nav li.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 1.2rem;
  position: relative;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.nav-item input[type='checkbox'] {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.nav-item p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  width: 85%;
}

.nav-item p:hover {
  cursor: move;
}

.nav-item .change-position {
  position: absolute;
  right: 2%;
  color: rgb(158, 158, 158);
  padding: 0.5rem 0.7rem;
}

.nav-item .change-position:hover {
  color: #808080;
  cursor: pointer;
}

#clear {
  background-color: rgb(240, 240, 240);
  width: 100%;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: rgb(153, 153, 153);
  border: 0;
  outline: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

#clear:hover {
  background-color: rgb(223, 223, 223);
  text-decoration: underline;
  color: rgb(128, 128, 128);
}

.completed-task {
  background-color: red;
}
